/node_modules
/user-data
/logs
/note.txt

*.config.user.js

/userData.default/scriptData/
/userData.default/globalConfig.js
/userData.default/chromeData/*
/userData.default/chromeData
/userData.default/logs/*